apiVersion: v1
## The base domain of the cluster. All DNS records will be sub-domains of this base and will also include the cluster name.
baseDomain: foo.bar
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  ## The name for the cluster
  name: ocp4
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: "192.168.1.0/24" # where your VMs will live
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  vsphere:
    ## The hostname or IP address of the vCenter
    vcenter: vcenter.foo.bar
    ## The name of the user for accessing the vCenter
    username: "username@foo.bar"
    ## The password associated with the user
    password: "password"
    ## The datacenter in the vCenter
    datacenter: DC1
    ## The default datastore to use.
    defaultDatastore: DATASTORE
## The pull secret that provides components in the cluster access to images for OpenShift components.
pullSecret: ''
## The default SSH key that will be programmed for `core` user.
sshKey: ''
