apiVersion: v1
## The base domain of the cluster. All DNS records will be sub-domains of this base and will also include the cluster name.
baseDomain: foo.bar
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  ## The name for the cluster
  name: ocp4
networking:
  machineCIDR: "192.168.1.0/24" # where your VMs will live
platform:
  vsphere:
    ## The hostname or IP address of the vCenter
    vcenter: vcenter.foo.bar
    ## The name of the user for accessing the vCenter
    username: ""
    ## The password associated with the user
    password: ""
    ## The datacenter in the vCenter
    datacenter: [datacenter goes here]
    ## The default datastore to use.
    defaultDatastore: [datastore]
## The pull secret that provides components in the cluster access to images for OpenShift components.
pullSecret: ''
## The default SSH key that will be programmed for `core` user.
sshKey: ''
