apiVersion: v1
baseDomain: foo.bar
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: 
    vsphere:
      cpus: 2
      coresPerSocket: 2
      memoryMB: 8192
      osDisk:
        diskSizeGB: 60
  replicas: 2
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    vsphere:
      cpus: 4
      coresPerSocket: 2
      memoryMB: 16384
      osDisk:
        diskSizeGB: 60
  replicas: 3
metadata:
  name: managed
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 192.168.1.0/24
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  vsphere:
    cluster: 'clayton'
    datacenter: 'DC1'
    defaultDatastore: 'QNAP-VMDATA'
    network: 'VM Network'
    password: ''
    username: 'administrator@foo.bar'
    vCenter: photon-machine.foo.bar
    folder: /DC1/vm/Managed
    resourcePool: managed
publish: External
pullSecret: ''
sshKey: |
  ssh-rsa 
